<!--
<h1 id="tableLabel">Locations</h1>

<input type='text' [(ngModel)]='location' (keyup.enter)='search()'>
<button onClick="save()">Save</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="location">
  <thead>
    <tr>
      <th>locationName</th>
      <th>country</th>
      <th>adminArea</th>
      <th>key</th>
    </tr>
  </thead>
</table>

<div *ngFor="let location of data" class="text-horizontal">
    <p>{{location.EnglishName}}</p>
    <p>{{location.key}}</p>
    <p>{{location.Country.EnglishName}}</p>
    <p>{{location.AdministrativeArea.EnglishName}}</p>
    <p>{{location.Key}}</p>
</div>
<p *ngIf="!location"><em>Type in location to get data back</em></p> -->

<table mat-table [dataSource]="dataSource" class="text-center" class="mat-elevation-z8" class="mx-auto" style="width: 100%"  class="table table-striped light-grey" class="shadow p-3 mb-5 bg-transparent text-center">


  <ng-container matColumnDef="locationName">
    <th mat-header-cell *matHeaderCellDef class="text-center">Location Name</th>
    <td mat-cell *matCellDef="let element"> {{element.locationName}} </td>
  </ng-container>


  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef class="text-center">Country</th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>


  <ng-container matColumnDef="adminArea">
    <th mat-header-cell *matHeaderCellDef class="text-center">Admin Area</th>
    <td mat-cell *matCellDef="let element"> {{element.adminArea}}</td>
  </ng-container>


  <ng-container matColumnDef="key">
    <th mat-header-cell *matHeaderCellDef class="text-center">Key</th>
    <td mat-cell *matCellDef="let element"> {{element.key}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
