
<h1 id="tableLabel">Locations</h1>

<input type='text' [(ngModel)]='location' (keyup.enter)='search()'>
<button onClick="save()">Save</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="location">
  <thead>
    <tr>
      <th>locationName</th>
      <th>country</th>
      <th>adminArea</th>
      <th>key</th>
    </tr>
  </thead>
</table>

<div *ngFor="let location of data" class="text-horizontal">
    <p>{{location.EnglishName}}</p>
    <p>{{location.key}}</p>
    <p>{{location.Country.EnglishName}}</p>
    <p>{{location.AdministrativeArea.EnglishName}}</p>
    <p>{{location.Key}}</p>
</div>
<p *ngIf="!location"><em>Type in location to get data back</em></p>


