<h1 id="tableLabel">Weather Forecast</h1>

<p></p>

<p *ngIf="!weather"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="weather">
  <thead>
    <tr>
      <th>Weather Forecast</th>
      <th>Temprature</th>
      <th>Humidity</th>
      <th>Time of day</th>
      <th>Date</th>
      <th>Wind</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of weather">
      <td>{{ s.weatherForecast }}</td>
      <td>{{ s.temprature }}</td>
      <td>{{ s.humidity }}</td>
      <td>{{ s.timeOfDay }}</td>
      <td>{{ s.date  }}</td>
      <td>{{ s.wind }}</td>
    </tr>
  </tbody>
</table>
