<!-- <h1 id="tableLabel">Weather Forecast</h1>

<p></p>

<p *ngIf="!weather"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="newWeather">
  <thead>
    <tr>
      <th>Weather Forecast</th>
      <th>Temprature</th>
      <th>Humidity</th>
      <th>Time of day</th>
      <th>Date</th>
      <th>Wind</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of newWeather">
      <td>{{ s.weatherForecast }}</td>
      <td>{{ s.temprature }}</td>
      <td>{{ s.humidity }}</td>
      <td>{{ s.timeOfDay }}</td>
      <td>{{ s.date  }}</td>
      <td>{{ s.wind }}</td>

    </tr>
  </tbody>
</table> -->

<!-- <div *ngFor="let weather of newWeather">
  <p>{{weather.weatherForecast}}</p>
  <p>{{weather.temprature}}</p>
  <p>{{weather.Humidity}}</p>
  <p>{{weather.AdministrativeArea.EnglishName}}</p>
  <p>{{weather.Key}}</p>
</div> -->

<table mat-table [dataSource]="dataSource" class="text-center" class="mat-elevation-z8" class="mx-auto" style="width: 100%"  class="table table-striped light-grey" class="shadow p-3 mb-5 bg-transparent text-center">


  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef class="text-center">Day</th>
    <td mat-cell *matCellDef="let element"> {{element.day}} </td>
  </ng-container>


  <ng-container matColumnDef="night">
    <th mat-header-cell *matHeaderCellDef class="text-center">Night</th>
    <td mat-cell *matCellDef="let element"> {{element.night}} </td>
  </ng-container>


  <ng-container matColumnDef="maxTemp">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Max Temp </th>
    <td mat-cell *matCellDef="let element"> {{element.maxTemp}} °F </td>
  </ng-container>


  <ng-container matColumnDef="minTemp">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Min Temp </th>
    <td mat-cell *matCellDef="let element"> {{element.minTemp}} °F </td>
  </ng-container>


  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


